<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/sheetstyles.css" rel="stylesheet">



<div class="container category">
    <div class="well">
    <h1>Hello {{ user }} to TriviarcadeGame</h1>

    <h2> Choississez votre catégorie</h2>
    <a href="question/1">
    <ul>
        <li><button type="button" class="btn btn-success">Histoire</button></li>
        <li><button type="button" class="btn btn-success">Sports</button></li>
        <li><button type="button" class="btn btn-success">Politique</button></li>
        <li><button type="button" class="btn btn-success">Geographie</button></li>
        <li><button type="button" class="btn btn-success">Mode</button></li>
        <li><button type="button" class="btn btn-success">Automobile</button></li>
    </ul>
    </a>
    </div>

</div>


