<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<div class="container">

    <h1>Choississez votre catégorie</h1>
    <ul>
        <li><button type="button" class="btn btn-success">Histoire</button></li>
        <li><button type="button" class="btn btn-success">Sports</button></li>
        <li><button type="button" class="btn btn-success">Politique</button></li>
        <li><button type="button" class="btn btn-success">Geographie</button></li>
        <li><button type="button" class="btn btn-success">Mode</button></li>
        <li><button type="button" class="btn btn-success">Automobile</button></li>
    </ul>

</div>
