<link href=" {{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

<div class="container">

<h1>Bienvenue sur le quizz de la mort</h1>

    <form method="post" enctype="multipart/form-data">
        <label class="control-label" for="year">Taper votre nom  :</label>
        <input type="text" class="form-control" name="user" id="user">
    </form>

    <button type="submit" name="insert" class="btn btn-primary">Ajouter</button>

</div>





