<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">

    <h1>Bienvenue sur le quizz</h1>

    <form action="/register" method="post">

        <label class="control-label" for="username">Taper votre nom  :</label>

        <input type="text" class="form-control" name="username" id="username" placeholder="username">
        <button type="submit"  class="btn btn-primary">Ajouter</button>

    </form>

</div>
