<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="../../../../../../web/css/sheetstyles.css" rel="stylesheet">

<div class="container">

    <h1>Bienvenue sur le quizz</h1>

    <form action="/register" method="post">

        <label class="control-label" for="username">Taper votre nom:</label>

        <input type="text" class="form-control" name="username" id="username" placeholder="username">
        <button type="submit"  class="btn btn-primary">Ajouter</button>

    </form>

</div>
