<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/sheetstyles.css" rel="stylesheet">

<div class="container register">
    <div class="well">
    <h1>Bienvenue sur le quizz</h1>

    <form action="/register" method="post">


        <label class="control-label" for="username">Taper votre nom:</label>

        <input type="text" class="form-control" name="username" id="username" placeholder="username">
        <button type="submit"  class="btn btn-primary btnregister">Ajouter</button>
    </form>
    </div>
</div>
