<link href="/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
<div class="jumbotron">
    hello
</div>
<h1>tu es maintenant sur la page des questions</h1>
    <p>{{ question.content }}</p>

</div>