<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">

    <div class="well">
        <div class="col-lg-6"><h1>Name</h1>
            <p>necro</p>
        </div>
        <div class="col-lg-6"><h1>Score</h1>
            <p>100000</p>
        </div>
    </div>

</div>